* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #faf8f3;
  font-family: 'GTAmericaMono-Regular', 'Courier New', Courier, monospace;
  margin-top: 59.17px;
}

::selection {
  background-color: rgb(143, 121, 60);
  color: #faf8f3;
}

input:focus, textarea:focus, select:focus, button:focus, .link-login:focus {   
  border-color: #8f793c!important;
  border-right-width: 1px !important;
  box-shadow: 0 0 0 1px rgba(199, 146, 0, 0.87) inset, 0 0 5px rgba(199, 146, 0, 0.87)!important;
  outline: 0;
}

a {
  color: #8f793c;
  text-decoration: none;
}

a:hover {
  color: #8f793c;
  text-decoration: none;
}

nav.navbar {
  background-color: #faf8f3!important;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
  z-index: 1100;
}

.dropdown-toggle::after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .255em;
  vertical-align: 0.1em;
  content: "";
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent;
}

img.logo-header {
  max-width: 190px;
}

.banner {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding: 15rem 0;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.5) 90%, #000000 100%), url('../img/01_bakeandgo_home.jpg')!important;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  color: #fff;
}

.banner h1 {
  font-size: 3.2rem;
  line-height: 3.2rem;
  background: #fff;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.banner h2 {
  max-width: 20rem;
  font-size: 1rem;
}

.sliding-u-l-r-l {
  display: inline-block;
  position: relative;
  padding-bottom: 0.5em;
  cursor: default;
}
.sliding-u-l-r-l:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  transition: width 0s ease, background .5s ease;
}
.sliding-u-l-r-l:after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background: #8f793c;
  transition: width .5s ease;
}
.sliding-u-l-r-l:hover:before {
  width: 100%;
  background: #8f793c;
  transition: width .5s ease;
}
.sliding-u-l-r-l:hover:after {
  width: 100%;
  background: transparent;
  transition: all 0s ease;
}

.quem-somos-banner {
  text-align: center;
  height: 40vh;
  width: 100%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.5) 90%, #000000 100%), url('../img/09_bakeandgo.jpg')!important;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom;
  border-radius: 0;
}
.quem-somos-banner h2 {
  font-size: 2rem;
  color: #fff;
  margin-top: 55px;
}
.quem-somos p {
  font-size: 0.9rem;
  text-align: justify;
}
.quem-somos h2 {
  font-size: 1.2em;
}
.quem-somos-btn:focus {
  border-color: #8f793c!important;
  border-right-width: 1px !important;
  box-shadow: 0 0 0 1px rgba(199, 146, 0, 0.87) inset, 0 0 5px rgba(199, 146, 0, 0.87)!important;
  outline: 0;
}

.mensagem {
  min-height: 100%;
  height: 439px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 60px;
}

.card-columns {
  column-count: 2;
}

.card-columns h4{
  font-size: 0.9em;
}

section.btn {
  border-radius: 20px;
  background: #faf8f3;
  border: 1px solid #000;
  color: #000;
  margin-bottom: 5px;
}

.btn {
  border-radius: 20px;
  background: #faf8f3;
  border: 1px solid #000;
  color: #000;
  min-width: 82px;
}

.btn:hover {
  background: #fff;
  color: #000;
  border: 1px solid #000;
}

.btn-primary {
  border-radius: 20px;
  background: #faf8f3;
  border: 1px solid #000;
  color: #000;
  min-width: 82px;
}

.btn-primary:hover {
  background: #fff;
  color: #000;
  border: 1px solid #000;
}

.btn-primary:focus, .btn-primary.focus {
  background: #fff;
  color: #000;
  border: 1px solid #000;
}

button.btn.btn-secondary {
  margin-right: 0.5rem;
}

.hvr-icon-basket {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-icon-basket:hover .hvr-icon, .hvr-icon-basket:focus .hvr-icon, .hvr-icon-basket:active .hvr-icon {
  color: #8f793c;
  -webkit-animation-name: hvr-icon-basket;
  animation-name: hvr-icon-basket;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
@-webkit-keyframes hvr-icon-basket {
  50% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
}
@keyframes hvr-icon-basket {
  50% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
}
.contador {
  visibility: visible;
  background-color:#8f793c;
  color: #faf8f3;
  border-radius: 50px;
  width: 18px;
  height: 18px;
  position: absolute;
  font-size: 0.7em;
  text-align: center;
  right: 37px;
  top: 11px;
}
@media only screen and (min-width: 420px) {
  .contador {
    visibility: hidden;
  }
}
@media (min-width: 767.98px) {
  .contador {
    visibility: visible;
  }
}
@media (max-width: 991px) {
  .contador {
    visibility: hidden;
  }
}

.fa-check-circle{
  color: #8f793c;
}

i.fa-pencil-alt:hover::before {
  color: #8f793c;
  transition: all ease-in-out 0.2s;
}
i.fa-trash-alt:hover::before {
  color: #8f793c;
  transition: all ease-in-out 0.2s;
}
i.fa-plus-circle:hover::before {
  color: #8f793c;
  transition: all ease-in-out 0.2s;
}
i.fa-eye:hover::before {
  color: #8f793c;
  transition: all ease-in-out 0.2s;
}

.catProdutos h3 {
  font-family: 'GTAmerica-ExtendedMedium', 'Courier New', Courier, monospace;
  font-size: 0.9em;
  letter-spacing: 0.1em;
}
@media (min-width: 300px) and (max-width: 574.98px) {
  .catProdutos h3 {
    font-family: 'GTAmerica-ExtendedMedium', 'Courier New', Courier, monospace;
    font-size: 0.75em;
    letter-spacing: 0.1em;
  }
}

.menu-produtos h3 {
  font-family: 'GTAmerica-ExtendedMedium', 'Courier New', Courier, monospace;
  font-size: 0.9em;
  letter-spacing: 0.1em;
}

.menuProdutos span, label, select {
  font-size: 1em;
}

#section-counter {
  position: relative;
  z-index: 1050;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.5) 90%, #000000 100%), url('../img/08_bakeandgo.jpg')!important;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position-x: center;
}
.counter-section {
  padding: 5em 0;
}
.counter-section .text strong.number {
  font-size: 1.9em;
  color: #fff;
}
.counter-section .text span {
  display: block;
  font-size: 0.9em;
  color: #fff;
  text-transform: uppercase;
}
@media (max-width: 767.98px) {
  .counter-section .counter-wrap {
  font-size: 0.9em;;
  margin-bottom: 2em;
  }
}
.counter-section .number {
  display: block;
}
.counter-section {
  text-transform: uppercase;
}

.catAtendimento a {
  color: #8f793c!important;
}

.catAtendimento h3, h4 {
  font-size: 1.05em;
  text-align: center;
}

.catAtendimento h4 {
  line-height: 1.5;
}

.catAtendimento p {
  text-align: center;
}

.email-mensagem a {
  color: #000;
}

.email-mensagem a:hover {
  color: #8f793c;
}

.ic-wa {
  color: #8f793c!important;
}

.ic-basket:hover {
  color: #8f793c;
  transition: all ease-in-out 0.2s;
}

.table { 
  width: 100%; 
  display: table;
  border-collapse: collapse; 
}

.table thead th {
  vertical-align: middle;
  border-bottom: 2px solid #dee2e6;
}

.page-item.active .page-link {
  z-index: 3;
  color: #faf8f3;
  background-color: #8f793c;
  border-color: #8f793c;
}
.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #000;
  background-color: #faf8f3;
  border: 1px solid #8f793c;
}
.page-link:hover {
  z-index: 2;
  color: #faf8f3;
  text-decoration: none;
  background-color: #8f793c;
  border: 1px solid #8f793c;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

@font-face {
  font-family: 'GTAmericaMono-Regular';
  src: url('../fonts/GTAmericaMono-Regular.eot');
  src: url('../fonts/GTAmericaMono-Regular.eot') format('embedded-opentype'),
       url('../fonts/GTAmericaMono-Regular.svg') format('svg'),
       url('../fonts/GTAmericaMono-Regular.ttf') format('truetype'),
       url('../fonts/GTAmericaMono-Regular.woff') format('woff'),
       url('../fonts/GTAmericaMono-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GTAmerica-ExtendedMedium';
  src: url('../fonts/GTAmerica-ExtendedMedium.eot');
  src: url('../fonts/GTAmerica-ExtendedMedium.eot') format('embedded-opentype'),
       url('../fonts/GTAmerica-ExtendedMedium.svg') format('svg'),
       url('../fonts/GTAmerica-ExtendedMedium.ttf') format('truetype'),
       url('../fonts/GTAmerica-ExtendedMedium.woff') format('woff'),
       url('../fonts/GTAmerica-ExtendedMedium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

h3, .h3 {
  font-size: 1.1em;
}

.minha-conta h3 {
  font-size: 1.2em;
}

.link-continuar a {
  color: #000;
}
.link-continuar a:hover {
  color: #8f793c;
}

.form-control:disabled, .form-control[readonly] {
  background-color: #faf8f3;
  color: rgba(0, 0, 0, 0.6);
}

.mapa h3 {
  font-size: 1.2em;
}

.page-footer {
  position: relative;
  height: auto;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.5) 90%, #000000 100%), url('../img/02_bakeandgo_footer.jpg')!important;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position-x: center;
  color: #fff;
  font-size: 0.7em;
}

.row-footer h2 {
  font-size: 1em;
}

.page-footer a {
  font-size: 1em;
  color: #fff;
  text-decoration: none;
}

.footer-link a:hover {
  color: rgb(212, 156, 2)!important;
  transition: all ease-in-out 0.2s;
}

.fb-ic:hover i::before {
  color: rgb(212, 156, 2)!important;
  transition: all ease-in-out 0.2s;
}

.tw-ic:hover i::before {
  color: rgb(212, 156, 2)!important;
  transition: all ease-in-out 0.2s;
}
.ins-ic:hover i::before {
  color: rgb(212, 156, 2)!important;
  transition: all ease-in-out 0.2s;
}
.wa-ic:hover i::before {
  color: rgb(212, 156, 2)!important;
  transition: all ease-in-out 0.2s;
}

.checkbox a {
  color: #000;
}

.custom-control-input:checked~.custom-control-label::before {
  color: #fff!important;
  background-color: #8f793c!important;
  border: none;
}

input.custom-control-input:focus {   
  display: none;
}

.form-cadastro h3 {
  font-size: 1.2em;
}

img.logo-footer {
  max-width: 180px;
}

.modal-content {
  background-color: #faf8f3;
}

.modal-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 1rem;
  border-top: 1px solid #e9ecef;
}

.modal-login a:hover {
  color: #8f793c;
}

.modal-login p {
  margin-bottom: 0;
}

.modal-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
  border-top: 1px solid #dee2e6;
  border-bottom-right-radius: calc(0.3rem - 1px);
  border-bottom-left-radius: calc(0.3rem - 1px);
}

.modal-footer a {
  color: #8f793c;
}

.modal-footer > * {
  margin: 0;
}

.modal-info-leg {
  font-size: 0.7em;
  border-top: 0;
  text-align: justify;
}

.modal {
  z-index: 1200;
}

.modal-backdrop {
  z-index: 1150;
}

nav.nav-adm {
  top: 59.17px!important;
  z-index: 1050;
  max-width: 70vw!important;
  border-radius: 0 0 20px 20px;
  background-color: #8f793c!important;
}

nav.nav-adm a {
  color: #faf8f3!important;
}

nav.nav-cliente {
  top: 59.17px!important;
  z-index: 1050;
  max-width: 45vw!important;
  border-radius: 0 0 20px 20px;
  background-color: #8f793c!important;
}

nav.nav-cliente a {
  color: #faf8f3!important;
}

.btn-adm {
  border-radius: 20px;
  background: #7a6835;
  border: 1px solid #faf8f3;
  margin-bottom: 40px;
  padding-left: 1.5rem!important;
  padding-right: 1.5rem!important;
}

.btn-adm:hover {
  background: #8f793c;
  border: 1px solid #faf8f3;
}

.h-adm-space {
  height: 1px;
  width: auto;
  position: relative;
  display: block;
}

.adm-pag h2 {
  font-size: 1.5em;
}
.adm-pag p {
  font-size: 0.95em;
  margin-top: 0;
  margin-bottom: 0;
}

.error {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  padding: 15rem 0;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 90%, #000000 100%), url('../img/404.jpg')!important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;

}
.error-img {
  width: 300px;
  height: auto;
}

.error h2 {
  font-size: 1.5em;
}

@keyframes fadeInUp {
  from {
      transform: translate3d(0, 40px, 0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}
@-webkit-keyframes fadeInUp {
  from {
      transform: translate3d(0, 40px, 0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}
.animated {
  animation-duration: 1500ms;
  animation-fill-mode: both;
  -webkit-animation-duration: 1500ms;
  -webkit-animation-fill-mode: both
}
.animatedFadeInUp {
  opacity: 0
}
.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}

.input-group-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: .375rem .75rem;
  margin-bottom: 0;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000;
  text-align: center;
  white-space: nowrap;
  background-color: #faf8f3!important;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}

.contato p {
  font-size: 0.9em;
}

.contato a {
  color: #000;
}
.contato a:hover {
  color: #8f793c;
  text-decoration: none;
}

/* MEDIA QUERIES */

@media only screen and (min-width: 420px) {
  body {
    margin-top: 73.14px;
  }

  .carousel-item{
    height: 45vh;
    position: relative;
  }
  
  .carousel-item img {
    position: absolute;
    bottom: -100px;
  }

  nav.nav-adm {
    top: 73.14px!important;
  }

  nav.nav-cliente {
    top: 73.14px!important;
  }
  
  img.logo-header {
    max-width: 270px;
  }

  img.logo-footer {
    max-width: 195px;
  }

  .quem-somos-banner h2 {
    font-size: 3rem;
    margin-top: 90px;
  }
}

@media (min-width: 768px) {
  .banner h1 {
    font-size: 4rem;
    line-height: 4rem;
  }
}

@media (min-width: 992px) {
  .banner {
    height: 100vh;
    padding: 0;
  }
  .banner h1 {
    font-size: 4rem;
    line-height: 6.5rem;
  }
  .banner h2 {
    max-width: 30rem;
    font-size: 1.25rem;
  }
}

@media (min-width: 300px) and (max-width: 574.98px) {
  .card-columns {
    display: flex;
    flex-direction: column;
    }
}

@media (max-width: 575.98px) {
  .card-columns {
    display: flex;
    flex-direction: column;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .card-columns {
    display: flex;
    flex-direction: column;
    }
}

@media (max-width: 768px) {
  main {
    min-height: calc(100vh - 547px);
  }
}